{% extends "base.html" %}
{% block content %}

<div class="min-h-screen flex items-center justify-center bg-[#d8c48b] relative overflow-hidden">

    <!-- CONTAINER DO FORM -->
    <div class="bg-transparent p-6 rounded-xl w-full max-w-md z-10">

        <h2 class="text-3xl font-bold mb-6">Login</h2>

        <form method="POST" class="space-y-4">

            <!-- EMAIL -->
            <input 
                type="email" 
                name="email" 
                placeholder="Email do anunciante:" 
                required
                class="w-full px-4 py-3 rounded-full bg-white shadow focus:ring-2 focus:ring-blue-400 outline-none"
            >

            <!-- SENHA -->
            <input 
                type="password" 
                name="senha" 
                placeholder="Senha do anunciante:" 
                required
                class="w-full px-4 py-3 rounded-full bg-white shadow focus:ring-2 focus:ring-blue-400 outline-none"
            >

            <!-- BOTÃO LOGIN -->
            <button 
                type="submit"
                class="w-full bg-blue-500 text-white py-3 rounded-full font-semibold hover:bg-blue-600 transition"
            >
                Fazer login
            </button>
        </form>

        <p class="text-center text-gray-800 mt-3">
            Não possui uma conta?
            <a href="{{ url_for('register') }}" class="text-blue-600 font-semibold hover:underline">
                Cadastrar
            </a>
        </p>

    </div>

    <!-- IMAGEM ANIMAL (FIXA NO CANTO INFERIOR DIREITO) -->
    <img 
        src="/static/img/dog_cat_login.png"
        class="hidden md:block w-[350px] absolute bottom-[-40px] right-0 pointer-events-none select-none"
    >

</div>

{% endblock %}
